@charset "UTF-8";
/* CSS Document */


ul {
	list-style-type: none;
    align-content: center;
	
 	
}
li {
	float: left;
}

a:link {
	display: black;
	padding: 14px 16px;
	text-decoration: none;
	color: black;
	background-color: 
	
}

a:visited {
	color: white;
	
}

a:hover{
	
	color: blue;
}

a:active {
	
	color: green;
	
}

td{
	padding: 4px 30px;
	border-left: 1px solid#CACACA;
	border-right: 1px solid#CACACA;
}

th {
	text-align: left;
	padding: 0 20px;
	
}

tr {
	border-left: 1px solid #eedd1;
	vertical-align: bottom;
	
}

tr:nth-child(2n){
	background-color: #eeedd1
}
tr:nth-child(2){
	border-top: 1px solid#CACACA;
}
span {
	font-style: italic;
	font-weight: 200;
}
table {
	border-collapse:collapse;
	border-bottom: 1px solid#CACACA;
}
h1{
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif"
	
}

h2{
	font-family: Helvetica Neue," sans-serif"
}
