@charset "UTF-8";
/* CSS Document */

ul {
	list-style-type: none;
	background-color: aquamarine;
	
}

li {
	
	float: left;
}


a:link {
	display: black;
	padding: 14px 16px;
	text-decoration: none;
	color: red;
	background-color: yellow;
	
}

a:visited {
	color: white;
	
}

a:hover{
	
	color: blue;
}

a:active {
	
	color: green;
	
}